.transulcent-card {
	background: rgba(1,1,1,0.4);
	border-width: 2px;
	border-color: rgba(0,0,0,1);
	
}

.transulcent-card .card-img-top {
	-webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
	opacity:0;
}

.transulcent-card:hover .card-img-top {
	opacity:1;
}

.transulcent-card h2 {
	font-size:30px;
	color: #FFF5F3;
}

#intropagetitle {
	color: #FFF5F3;	
}