body, html {
    margin: 0px;
    padding: 0px;

    /* Full height */
    height: 100%;
    width: 100%;

    
    /* background*/
    /*background: linear-gradient( rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) ), url("../imgs/intro3blur.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.parallax {
    margin: 0px;
    padding: 50px;

    
    /* background*/
    background: #FFF;

    /* Full height */
    height: 100%;
    width: 100%;
    
    /* Text in parallax */
    color:white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
}

.parallax h1 {
    margin-top:8vh;
    font-size:4vw;
    font-family: "Courier Header";
    color: black;
    background: url("imgs/generations.jpg");
}

.parallax h2 {
    font-size: 3vw;
    color: white;
    font-family: "Helvetica";
    font-weight: 300;
}

/* Make it bigger */
@media only screen and (max-width: 992px) {
    .parallax {
    background-attachment: scroll;
    background: url("../imgs/intro3blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax h1 {
        font-size:6vw;
        font-family: "Courier Header";
    }

    .parallax h2 {
        font-size:6vw;
        color:white;
    }
}

.disappear-on-scroll{
    opacity:100;
}