body, html {
    margin: 0px;
    padding: 0px;

    /* Full height */
    height: 100%;
    width: 100%;
}

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.parallax {
    margin: 0px;
    padding: 50px;

    
    /* background*/
    background: url("../imgs/intro1blur.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    
    /* Text in parallax */
    color:white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
}

.parallax h1 {
    margin-top:8vh;
    font-size:4vw;
    font-family: "Courier Header";
    color: black;
    background: url("imgs/generations.jpg");
}

.parallax h2 {
    font-size:3vw;
    color:white;
    font-family: "Courier Body copy";
    font-weight: 100;
}

/* Make it bigger */
@media only screen and (max-width: 992px) {

    .parallax h1 {
        font-size:6vw;
        font-family: "Courier Header";
    }

    .parallax h2 {
        font-size:6vw;
        color:white;
    }
}

.disappear-on-scroll{
    opacity:100;
}