section.fullsite {
	border-bottom: 1px solid #FFF5F3;
 	padding-top: 2rem;
	padding-bottom: 3rem;
	min-height: 100vh;
  overflow: auto;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section.fullsite {
    min-height: 100vh;
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.fullsite {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.card {
  margin-top:2pc;
}

a {
  color: #FF7558;
}

a:hover {
  text-decoration: none;
  color: #FF4040;
}

.bg-primary{
  background-color: #cc998d;
  color: #153b50;  
}

.btn-bg-collapsing {
  background-color: #153b50;
  fill: #153b50;
}

.bg-primary a{
  color: #153b50;  
}

.bg-secondary a{
  color: #153b50;  
}

.bg-secondary {
  background-color: #429ea6 !important;
  color: #153b50; 
}


.bg-secondary-dark {
  background-color: #FFA153 !important;
  color: #FFF5F3;
}

#main-title {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  font-weight: 600;
}

@media (max-width: 600px) {
  #main-title {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin-top: 10px;
  }

  #content {
    min-width : 85vw;
  }
}

.topic-header {
  margin-bottom: 30px;
}

#content{
  overflow-y: hidden;
}

.section-text {
  text-align: justify;
}

.topic-header{
  
}

.my-flex {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.equation {
  font-size: 11pt;
}

.equation-lg {
  font-size: 18pt;
}

@media (max-width: 750px){
  .equation{
    font-size: 0.7pc;
  }
}

.margin-top-sm-30, .margin-top-md-30, .margin-top-lg-30, .margin-top-xl-30 {
  margin-top: 30vh;
}

.margin-top-sm-40, .margin-top-md-40, .margin-top-lg-40, .margin-top-xl-40 {
  margin-top: 40vh;
}

.margin-top-sm-30-p, .margin-top-md-30-p, .margin-top-lg-30-p, .margin-top-xl-30-p {
  margin-top: 12%;
}

.margin-top-sm-40-p, .margin-top-md-40-p, .margin-top-lg-40-p, .margin-top-xl-40-p {
  margin-top: 40%;
}

@media (max-width: 1600px) {
  .margin-top-xl-40 {
    margin-top: 5vh;
  }

  .margin-top-xl-40-p, .margin-top-xl-30-p {
    margin-top: 5%;
  }
}

@media (max-width: 1200px) {
  .margin-top-lg-40 {
    margin-top: 5vh;
  }

  .margin-top-lg-40-p, .margin-top-lg-30-p {
    margin-top: 5%;
  }
}

@media (max-width: 992px) {
  .margin-top-md-30 {
    margin-top: 5vh;
  }

  .margin-top-md-40 {
    margin-top: 5vh;
  }

  .margin-top-md-40-p, .margin-top-md-30-p {
    margin-top: 2%;
  }
}

@media (max-width: 768px) {
  .margin-top-sm-40 {
    margin-top: 5vh;
  }

  .margin-top-sm-40-p, .margin-top-sm-30-p {
    margin-top: 5%;
  }
}

@media (max-width: 1200px) {
  .margin-top-lg-40 {
    margin-top: 5vh;
  }
}

.col-my-5, .col-my-6, .col-my-7, .col-my-8 {
  margin: 1%;
  margin-top: 10px;
}

.col-my-5 {
  width:40%;
}

.col-my-6 {
  width:47%;
}

.col-my-7 {
  width: 56%;
}

.col-my-8 {
  width: 64%;
}

@media (max-width: 1600px){
  .col-my-5, .col-my-6, .col-my-7, .col-my-8 {
    width: 100% !important;
  }
}

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/